<v-card
        class="pa-2"
        flat
>
    <v-card-text>The formulas are just demo</v-card-text>
    <v-card-title>Calculator #1</v-card-title>

    <v-card-text><p>The formula for the roll weight is: Length x Width x (Thickness x 0.00001) x (Core Diameter squared) x Film Type x 0.4335</p>

        <p>The formula for the Outside Roll Diameter is: Square Root of ( ( (Length x (Thickness x 0.00001)) / 0.06545) + (Core Diameter squared) )</p></v-card-text>

    <v-card-title>Calculator #2</v-card-title>

    <v-card-text>The formula for Roll Length is: Roll Weight / Roll Width x (27.68 / Film Type / (Thickness x 0.00001)) / 12</v-card-text>

</v-card>
